<%= form_for(@product) do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<% form_for @user, :url => { :action => "update" } do |user_form| %>
    ...
    <% user_form.fields_for :profiles do |profiles_fields| %>
        Phone Number: <%= profiles_fields.text_field :profile_mobile_number %>
    <% end %>
<% end %>